.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;

}
.child {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}