* {
  box-sizing: border-box;
}

.container1, .container2,.container3, .container4 {
  display: flex;
  flex-direction: row;
  width: 408px;
  height: 200px;
  box-sizing: border-box;
  border: 4px solid #212226;
  margin: 2rem;
}



.container1 .child, .container2 .child, .container3 .child, .container4 .child {
  background-color: #255954;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #71D99E;
  width: 50px;
  height: 50px;
}


.container1 .child p, .container2 .child p, .container3 .child p, .container4 .child p {
  font-size: 1.5rem;
  margin: 0;
  color: #71D99E;
}

.container1 .child:nth-child(1),.container1 .child:nth-child(2),.container1 .child:nth-child(3) {
  flex-shrink: 0;
  background-color: tomato;
}
.container1 .child:nth-child(1) p,.container1 .child:nth-child(2) p,.container1 .child:nth-child(3) p {
  color: #fff;
}
.container2 .child:nth-child(10),.container2 .child:nth-child(11),.container2 .child:nth-child(12) {
  background-color: tomato;
}
.container2 .child:nth-child(10) p,.container2 .child:nth-child(11) p,.container2 .child:nth-child(12) p {
  color: #fff;
}

.container3 .child {
}
.container3 .child:nth-child(1) {
 flex-basis: 20%;
}
.container3 .child:nth-child(2) {
 flex-basis: 25%;
}
.container3 .child:nth-child(3) {
  flex-basis: 35%;
}
.container3 .child:nth-child(4) {
  flex-basis: 15%;
  flex-grow: 1;
}

.container4 .child {
  flex-basis: 25%;
}
.container4 .child:nth-child(1) {
  order: 3
}
.container4 .child:nth-child(2) {
  order:4;
  background-color: chocolate;
}
.container4 .child:nth-child(3) {
  order:2;
  background-color: blueviolet;
}
.container4 .child:nth-child(4) {
  order:1;
  background-color: #0b6632;
}



